<%- include('layout') %>

<div class="form-group" id="signupForm">
  <h1>Sign Up</h1>
  <form action="/sign-up" method="POST" class="content">
    <label for="Name">Name:</label>
    <input type="text" name="Name" placeholder="Name" />

    <label for="Email">Email:</label>
    <input type="email" name="Email" placeholder="Email" />

    <label for="Password">Password:</label>
    <input type="password" name="Password" placeholder="Password" />

    <button>Sign Up</button>
  </form>
</div>

<script src="/scripts/signup.js"></script>
